<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><p style='text-indent: 100px; color: purple'>Django Templates</p></h2>
    <p>Django is a web framework, so it needs a convenient way to dynamically generate HTML. The most common approach is based on templates. The template contains the static parts of the desired HTML output, as well as some special syntax describing how the dynamic content will be inserted..</p>
    <h3><p style='text-indent: 30px; color: purple'>Syntax</p></h3>
    <p>Django template language syntax includes four constructs.</p>

    <h3><p style='text-indent: 30px; color: purple'>Filters</p></h3>
    <p>Фильтры преобразуют значения переменных и аргументов тегов.

</html>