<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><p style='text-indent: 100px; color: purple'>Проект afisha</p></h2>
    <h3><p style='text-indent: 30px; color: rgb(84, 0, 84)'>Всего есть три страницы</p></h3>
    <h3><p style='text-indent: 30px; color: rgb(32, 0, 32)'>Страница index/</p></h3>
    <p>Данные о трех страницах</p>
    <h3><p style='text-indent: 30px; color: rgb(32, 0, 32)'>Страница django/</p></h3>
    <p>На этой странице кратко описывается Django-Templates</p>
    <p><a href="django">Django-Templates</a></p>
    <h3><p style='text-indent: 30px; color: rgb(32, 0, 32)'>Страница today/</p></h3>
</body>
</html>