<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><p style='text-indent: 100px; color: purple'>Сеголня мы научились создавать проект на Django-Templates</p></h2>
    
    <p>1. Активировали venv</p>
    <p>2. Установили Django, с поиощью команды pip install Django</p>
    <p>3. Создали проект, с помощью команды django-admin startprogect name</p>
    <p>4. Создали приложение, с помощью команды pythpn manage.py startapp app</p>
    <p>5. В настройках сохранили наше приложение, 'app'</p>
    <p>6. Создали папку templates, где будет храниться шаблон для страницы index/</p>
    <p>7. Создали view для нашего приложения</p>
    <p>8. Создали путь для нашего приложения, path('index/', views.index)</p>
    <p>9. Запустили проект с помощью команды python manage.py runserver</p>
</body>
</html>